.header {
    padding: 20px;
    position: relative;
    &:before {
        background: linear-gradient(135deg, #0a7a42 0%, #50b147 100%);
        bottom: 0;
        content: '';
        height: 5px;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .brand {
        .text {
            color: #707070;
            font: 20px 'Helvetica Neue', sans-serif;
            margin-left: 5px;
        }
    }
    .navlink {
        li {
            color: #0A7A42;
            font: 20px 'Helvetica Neue', sans-serif;
            margin-left: 140px;
        }
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}